body{
    background-color: #1C1124;
    color: whitesmoke;
    position: relative;

}
.movie-app > .row{
    overflow-x: auto;
    flex-wrap: nowrap;
}
.posters{
    width: 250px;
    margin: auto 12px;
}
.image-container{
    position: relative;
    transition: transform 0.2s;
}
.image-container:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.image-container:hover .overlay{
    opacity: 1;
}
.overlay{
    position: absolute;
    background: rgba(0,0,0,0.7);
    width: 91.5%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    margin: 12px;
    color: white;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 50%;
}